#search{
	position: relative;
	height: 120px;
	margin: 55px 0 0 245px;
}
#search input{
	float: left;
	width: 500px;
	height: 35px;
	border: none;
	margin-left: 130px;
}
.pic{
	width: 19px;
	height: 15px;
	background:url(//misc.360buyimg.com/product/search/1.0.4/css/i/sprite-photo-search.png);
	position: absolute;
	top: 10px;
	left: 590px;
}
.searchbtn{
	float: left;
	width: 50px;
	height: 35px;
	background-color: #f10215;
	border:none;
	background-image:url('../images/search.png');
	background-size: 21px 21px;
	background-repeat: no-repeat;
	background-position: center;
}
.sellcart{
	position: relative;
	float: left;
	background-color: #fff;
	width: 190px;
	height: 29px;
	border:1px rgb(227,228,229) solid;
	margin: 0 0 0 50px;
	background: url(../images/sellcart.png) no-repeat;
}
.sellcart:focus,.sellcart:hover{
	border:none;
}
.sellcart-hide{
	position: absolute;
	top: 29px;
	right: 0px;
	display: none;
	width: 304px;
	height: 64px;
	z-index: 10;
	background: url(../images/sellcart-hide.png);
}
.search-code{
	float: left;
	background-color: rgb(240,243,239);
	height: 68px;
	border:1px solid rgb(207,207,207);
	position: absolute;
	top: -25px;
	right: 30px;

}
.search-code:before{
	content: "";
	display: inline-block;
	z-index: 50;
	width: 0px;
	height: 0px;
	position: absolute;
	left: 50%;
	top: -10px;
	margin-left: -5px;
	border-right:10px solid transparent;
 	border-top:5px solid transparent;
  	border-left:10px solid transparent;
  	border-bottom:5px solid rgb(240,243,239);
}
.search-code img{
	padding: 4px;
}
.suggest-top{
	color: rgb(153,153,153);
	position: absolute;
	top: 40px;
	left: 140px;
}
.suggest-top a{
	margin-right: 10px;
}
.suggest-bottom{
	position: absolute;
	top: 65px;
	left: 50px;
}
.suggest-bottom a{
	font-size: 14px;
	margin-right: 30px;
}
.suggest-bottom img{
	margin-left: 100px;
}